:root{
	--body-color:rgb(285,185,0);
	--label-color:rgb(255,255,255);
	--user-color:rgb(255,0,0);
	--full-length:100%;
	--style-none:none;
}

body{
	background-color:var(--body-color) !important;
	margin-bottom:50px;
}
label{
	color:var(--label-color);
}
.row{
	width:var(--full-length);
}
.first-row{
	margin-top:40px;
}
input,textarea{
	width:var(--full-length);
}
span.user{
	color:var(--user-color);
}
table.dataTable td{
	background-color:var(--body-color);
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: var(--style-none);
}
input[type="search"]{
	width:175px;
}
thead{
	display:var(--style-none);
}
#dvQuesAnsTable_filter{
	margin-top:-30px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}